
:root{
    --primary: #EDBA00;
    --secondary: #b68f00;
    --background: #333333;
}

.container {
    width: 100%;
    max-width: 800px;
    margin: 0px auto;
}

body {
    background-color: var(--background);
}

/* FONT */
.audiowide-regular {
    font-family: "Audiowide", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
/* TEXT */
p {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: var(--primary);
}
h3 {
    color: var(--primary);
}

/* LINKS */
a {
    color: var(--background);
}
a:hover {
    color: var(--background);
}

/* TABLE */
th {
    color: var(--primary);
    background-color: var(--background);
}
td {
    color: var(--background);
}
table, th, td {
  font-family: Arial, Helvetica, sans-serif;
}
table {
    width: 100%;
}

th, td {
    padding: 10px;
    text-align: left;
}

tr:nth-child(odd) {
    background-color: var(--secondary);
}

tr:nth-child(even) {
    background-color: var(--primary);
}