.inventory-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
}

.inventory-item {
    border: 1px solid var(--primary);
    padding: 10px;
    border-radius: 8px;
    width: 250px;
    text-align: center;
}

.inventory-item img {
    width: 100%;
    height: auto;
    margin-bottom: 8px;
    border: 0px;
    border-bottom: var(--primary) 7px;
    border-style: solid;
}
