
:root{
  --primary: #EDBA00;
  --secondary: #c59b00;
  --background: #333333;
}

.container {
  width: 100%;
  height: 100%;
  max-width: 800px;
  margin: 0px auto;
  padding: 50px;
  background-color: var(--background);
}

body {
  background-color: var(--background);
}

/* NAVBAR */
.navbar {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--background);
  border-style: ridge;
  border-color: var(--primary);
} li {
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
} li a {
  display: block;
  color: var(--primary);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
} li a:hover:not(.active) {
  background-color: var(--primary);
  color: var(--background);
}


/* FONT */
.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* TEXT */
p {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
} h1 {
  color: var(--primary);
} h2 {
  color: #ffffff;

  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;

} h3 {
  color: var(--primary);
} h4 {
  color: #ffffff;
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* LINKS */
a {
  color: var(--background);
}
a:hover {
  color: var(--background);
}


/* TABLE */ 
th {
  color: var(--primary);
  background-color: var(--background);
} td {
  color: var(--background);
} table, th, td {
font-family: Arial, Helvetica, sans-serif;
} table {
  width: 100%;
  border-style: ridge;
  border-color: var(--primary);
} th, td {
  padding: 10px;
  text-align: left;
} tr:nth-child(odd) {
  background-color: var(--secondary);
} tr:nth-child(even) {
  background-color: var(--primary);
}


/* RARE CASE DROP POOL TOGGLE */
.rare-case-drop {
  display: none;
}
.rare-case-drop.visible {
  display: block;
}


/* DISCONTINUED CASE DROP POOL TOGGLE */
.discontinued-cases {
  display: none;
}
.discontinued-cases.visible {
  display: block;
}

/* BUTTONS */
button {
  padding: 10px;
  margin-top: 15px;
  margin-right: 15px;
  font-weight: bold;
  color: var(--primary);
  background: var(--background);
  border-style:ridge;
  border-color: var(--primary);
}
button:hover {
  color: var(--background);
  background: var(--primary);
}


/* NEWS */
.news-section{
  padding: 0px 50px 50px 50px;
}
.news-main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
.news-div {
  display: table;
  border-style: solid;
  border-radius: 25px;
  border-color: var(--primary);
  background-color: var(--background);
  width: 50%;
  height: inherit;
}
.news-img{
  width: 100%;
  border-radius: inherit;
}
.news-content {
  padding: 0px 25px 25px 25px;
  width: auto;
  border: none;
}

/* COMMANDS */
.command-snippet {
  border-style: solid;
  border-color: var(--secondary);
  padding: 25px;
}