.navbar {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--background);
} 
li {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
} 
li a {
    display: block;
    color: var(--steam-grey);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} 
li a:hover {
    color: var(--steam-white);
}
li a:active {
    color: var(--primary);
    text-decoration-line: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}
.active {
    color: var(--primary);
    text-decoration-line: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}
.active:hover {
    color: var(--primary);
    text-decoration-line: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
}