table, th, td {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 80%;
    border-style: solid;
    border-color: var(--primary);
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    color: var(--background);
    background-color: var(--primary);
    border: none;
}

td {
    color: #ffffff;
    border-style: solid;
    border-width: 2px;
    border-color: var(--secondary);
    border-collapse: collapse;
}

td a {
    color: #ffffff;
    text-decoration: none;
}

td a:hover {
    color: var(--steam-grey);
    text-decoration: none;
}

tr:nth-child(odd) {
    /* background-color: var(--secondary); */
}

tr:nth-child(even) {
    /* background-color: var(--primary); */
}